.search-container {

    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; /* مسافة بين العناصر */
}

.search-container form {
    flex-grow: 1; /* يجعل الإدخال يأخذ المساحة المتبقية */
}

.search-container input {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.search-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 11px;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Tajawal', Arial, sans-serif; /* Use Tajawal as the default font */
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    direction: rtl; /* For Arabic text */
    text-align: right; /* Align text to the right */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Tajawal', Arial, sans-serif;
    font-weight: 700; /* Bold headings */
  }
  
  p, span, label, input, textarea, button, select {
    font-family: 'Tajawal', Arial, sans-serif;
    font-weight: 400; /* Normal text */
  }
.search-container button:hover {
    background-color: #0056b3;
}

/* جعل التصميم متجاوبًا */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        gap: 8px;
    }

    .search-container form {
        width: 100%;
    }

    .search-container button {
        width: 100%;
    }
}
